<?xml version="1.0" encoding="UTF-8"?>
<modul>
	<fields>
		<field>
			<name>id</name>
			<type>int</type>
		</field>
		<field>
			<name>parent</name>
			<type>int</type>
		</field>
		<field>
			<name>caption</name>
			<type>varchar</type>
			<show>
				<typeSearch>input</typeSearch>
			</show>
		</field>
		<field>
			<name>title</name>
			<type>varchar</type>
		</field>
		<field>
			<name>keywords</name>
			<type>varchar</type>
		</field>
		<field>
			<name>description</name>
			<type>varchar</type>
		</field>
		<field>
			<name>text</name>
			<type>text</type>
		</field>
		<field>
			<name>url</name>
			<type>varchar</type>
			<show>
				<typeSearch>input</typeSearch>
			</show>
		</field>
		<field>
			<name>file</name>
			<type>varchar</type>
		</field>
		<field>
			<name>position</name>
			<type>int</type>
		</field>
		<field>
			<name>index</name>
			<type>int</type>
		</field>
		<field>
			<name>inmenu</name>
			<type>int</type>
		</field>
		<field>
			<name>active</name>
			<type>int</type>
		</field>
	</fields>
	<groupCheckbox>
		<action>Все</action>
		<action>Избранные</action>
		<action>Выключенные</action>
		<action>Включенные</action>
	</groupCheckbox>
	<groupActions>
		<action>
			<name>active</name>
			<caption>Активировать</caption>
		</action>
		<action>
			<name>inmenu</name>
			<caption>Добавить в меню</caption>
		</action>
		<action>
			<name>inmenu</name>
			<caption>Удалить</caption>
		</action>
		<hide>
			<action>
				<name>archive</name>
				<caption>Убрать в архив</caption>
			</action>
			<action>
				<name>published</name>
				<caption>Опубликовать</caption>
			</action>
		</hide>
	</groupActions>
	<actions>
		<action>
			<name>active</name>
			<caption>Включить</caption>
			<captionInvert>Выключить</captionInvert>
		</action>
		<action>
			<name>inmenu</name>
			<caption>Добавить в меню</caption>
			<captionInvert>Убрать из меню</captionInvert>
		</action>
		<action>
			<name>edit</name>
			<caption>Редактировать</caption>
		</action>
	</actions>	
</modul>