#head .menu1 button {
	display: inline;
	margin: 0 0 0 8px;
}

#head .search .two {
	margin-left: 0px;
	width: 75px;
	display: inline-table;
	float: right;
	margin: -36px 0 0 0;
}

#head .search input {
	border: 1px #bebebe solid;
	border-bottom: 2px #bebebe solid;
	height: 24px;
}

#head .search input.one {
	width: 290px;
	padding-top: 6px;
	padding-left: 8px;
	padding-right: 4px;
}

button {
	overflow: visible;
}

.info-r .social-list span {
	margin: 4px 0 0 3px;
}

.info-r .more {
	width: 50%;
}

.right-block .addfilm {
	width: 62%;
}

.vertical-scroll-container {
	overflow: scroll;
}

.vertical-scroll-container .checkboxes div label {
	position: static;
	top: 0px;
}

.right-block .addfilm {
	margin-top: 7px;
}

.second-block .tabs ul li {
	float: left;
	margin: 5px 2px;
}

#content .sleeve {
	background: white;
	border: #cbcbcb dashed 1px;
}

.addfilm {
	width: 30.6%;
}

.comments-form input {
	padding-top: 7px;
	height: 23px;
	width: 760px;
}

.width750 {
	width: 760px;
}

.comment span.time {
	margin-right: 3px;
	padding-top: 0px;
	background-position-y: 46%;
}

.second-block .tabs {
	position: absolute;
	margin: -64px 0 0 -18px;
	z-index: 1
}

.img-l .counter span {
	background: url("/images/circle.png") no-repeat scroll 0 0 transparent;
	width: 16px;
	display: inline-block;
	cursor: pointer;
	z-index: 1;
	height: 17px;
	margin-left: 4px;
}

.vertical-scroll-container .text2 {
	margin-top: -3px;
}

#content .sleeve {
	background: white;
	border: #cbcbcb dashed 1px;
}

#head .search input.one {
	line-height: 18px;
}

.item-main {
	padding-bottom: 43px;
}

#content .second-wrapper {
	margin: 35px 0 0 0;
	border: 5px white solid;
}

.second-block .tabs ul div {
	border: 1px #e4e4e4 solid;
	z-index: 1;
	background: white;
	padding: 3px 13px 3px 11px;
}

.second-block .tabs ul div a {
	text-decoration: none;
	font: 14px Times New Roman;
	font-weight: bold;
	color: #393939;
}

.second-block .tabs ul li.active {
	border: 5px white solid;
	border-bottom: none;
	margin-left: 3px;
}

.second-block .tabs ul .active div {
	background: url("/images/treugolnik.png") no-repeat scroll 106% 100%
		white;
	font: 16px Times New Roman;
	border: #cbcbcb dashed 1px;
	padding: 3px 12px 5px 11px;
	border-bottom: none;
}

.second-block .tabs ul .active div a {
	font: 16px Times New Roman;
	font-weight: bold;
	color: #393939;
}

.second-block .tabs {
	position: absolute;
	margin: -69px 0 0 -20px;
	z-index: 1
}

.act-wrapper {
	margin: 0px 0 0 0;
}

.content-act .checkboxes .checkbox {
	display: inline-block;
	float: none;
	margin-top: 0px;
	height: 20px;
	line-height: 20px;
	position: relative;
	bottom: -2px;
}

.comments-form .captcha input {
	line-height: 21px;
	padding: 0px 0 0 0;
	position: relative;
	top: -1px;
}

.social-block {
	overflow: hidden;
	position: absolute;
}
#content .strongsearch .selsmall{
        width:56px;
    }
    .search-block .info-r .more{
       overflow: hidden;
       width:21%;
    }
    .strongsearch .second-row .small{
        margin-right:5px;
    }
.strongsearch .rovno2-2{
    margin-left:20px;
    width:80px;
    display:inline-block;
}
