.left-menu dl{
  display:inline-block;
  zoom:1;
}
.left-menu dl.active{
    display:inline-block;
    zoom:1;
}
.main-news .left-info .moreinfo{
    margin-top:14px;
}
.events-all{
    zoom:1;
    font:12px/14px 'Arial';
}
.smallblocks{
    float:left;
    width:820px;
}
.main-news{
    width:590px;
}

.midmain-news{
    width:545px;
    overflow:hidden;
}
#content ul{
    list-style-position: outside;
    margin-left:6px;
}
#content ul li{
    margin-left:12px;
}
#content .right-info ul li{
    margin-left: 0;
}
#content .right-info ul{
    margin-left: 16px;
}
.blockmidleft .events-all{
    
}
.blockmid .block-name{
    margin-top:0px;
}
.main-news .right-info{
    margin-left: 214px;
}
.emailpopup{
    display:none;
    position:absolute;
    background: url("/images/emailpopup.png") no-repeat scroll 0 0 transparent;
    width:237px;
    height:97px;
    z-index:10000;
    padding-left:25px;
    padding-top:25px;
    right:10px;
    top:30px;
}
.emailpopup .inputfield{
    position:absolute;
    width:151px;
    margin-left:28px;
}
.emailpopup .inputfield input{
    width:139px;
    height:17px;
    border:1px solid #d7d7d7;
    padding-left:10px;
    padding-top:4px;
    color:#8a8a8a;
    font:10px/14px 'Arial';
}
.emailpopup .inputnames{
    color:#8a8a8a;
    font:11px/14px 'Arial';
}
.emailpopup .inputnames span{
    margin-top:5px;
    display:inline-block;
}
.emailpopup span.emailname{
    margin-top:5px;
}
.emailpopup .inputfield textarea{
    padding-left:10px;
    width:137px;
    max-width:137px;
    min-width:137px;
    resize:none;
    height:35px;
    min-height:35px;
    max-height:35px;
    border:1px solid #d7d7d7;
    margin-top:-3px;
    color:#8a8a8a;
    font:10px/14px 'Arial';
    padding-top:7px;
}
.emailpopup .emailsendpopup{
    position:absolute;
    right:32px;
    bottom:15px;
    color:#8a8a8a;
    font:11px/14px 'Arial';
}
.emailpopup .emailsendpopup a{
    color:#8a8a8a;
    font:11px/14px 'Arial';
}